/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.facemarker-wrapper {
   position:absolute;
   top:85%;left:0;
   width:100%;
}
.facemarker-message
{
    position:relative;
    margin:0 50px;
    /*position:relative;
    margin:-100% -50% 0 0;*/
    border:solid 4px red;
    color:red;
    background:white;
    padding:3px 7px;
    text-align:center;
}
.facemarker
{
    position:absolute;
    border:solid 4px;
}
.facemarker-error
{
    border-color:red;
}
.facemarker-generic
{
    border-color:orange;
}
.facemarker-verified
{
    border-color:green;
}

.facelabel
{
    position:absolute;
    border:solid 4px green;
    color:green;
    background:white;
    padding: 3px 7px;
}