@model ProfileManager.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Employee</h2>
@if (ViewBag.ErrorMessage?.Length > 0)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
@if (ViewBag.SuccessMessage?.Length > 0)
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="RowVersion" />
            <input type="hidden" asp-for="PhotoFileName" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <span>@Model.Id</span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="photo" class="control-label">Change Photo</label>
                <input type="file" name="photo" id="photo" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" /> <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="card">
            <partial name="_EmployeePhoto" model="ViewBag.PhotoData" />
        </div>
        <div class="card bg-dark">
            <div class="card-body text-center">
                <a href="/employees" class="btn btn-secondary form-control">Back to List</a>
                &nbsp;
                <a href="/employees/edit/@Model.Id?highlightFaces=true" class="btn btn-secondary form-control">Highlight Faces</a>
                &nbsp;
                <a href="/employees/verify/@Model.Id" class="btn btn-secondary form-control">Verify</a>
                &nbsp;
                <a href="/employees/delete/@Model.Id" class="btn btn-danger form-control">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
